
<main>
    <div class="contents">
        <div class="topnav">
        <a class="topnav-button-active" href="/home">Add Funds</a>
        <a class="topnav-button" href="/form">Form</a>
        <a class="topnav-button" href="/about">About</a>
      </div>

     <h1> £{{userMetadata.balance}} </h1>
     
     <h3>
        {{user.name}}</h3>
        <a href="/addFunds/{{userMetadata.id}}"><button>Add Funds</button></a>
        <a href="/send_funds"><button>Send Funds</button></a>
        <a href="/add_friends"><button>Add Friends</button></a>
        <a href="/friends/invite"><button>Add Friends</button></a>

    {{#each friends}}
       <h1>{{friends.id}}</h1> 
    {{/each}}
    {{friends[0].balance}}
    {{friends[1].balance}}
    {{friends[2].balance}}

     
    </div>
</main>